:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    width: 100vw;
    height: 100vh;
    background: var(--light-gray)
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(90%, 325px);
    margin: 0 auto;
    padding-top: calc((15 / 16) * 1rem);
    padding-bottom: calc((30 / 16) * 1rem);
    background: var(--white);
    font-size: calc((15 / 16) * 1rem);
    border-radius: calc((20 / 16) * 1rem);
}

.qr-code__image {
    display: inline-block;
    width: 90%;
    border-radius: calc((15 / 16) * 1rem);
    margin-bottom: calc((15 / 16) * 1rem);
}

.qr-code__text {
    padding: 0 calc((35 / 16) * 1rem);
    color: var(--grayish-blue);
    text-align: center;
}

.qr-code__heading {
    color: var(--dark-blue);
}

.attribution {
    color: var(--grayish-blue);
    padding: calc((40 / 16) * 1rem);
    font-size: calc((12 / 16) * 1rem);
}

.attribution__link {
    cursor: pointer;
    text-decoration: none;
}

.attribution__link:visited {
    color: var(--dark-blue);
}

.attribution__link:hover,
.attribution__link:active {
    color: blue;
}