@use 'variables'as *;

.qr-code {
    background: $card-bg-color;
    font-size: rem(15px);
    padding: 1.2em;
    border-radius: 1.3em;
    text-align: center;
    color: $text-color;
    box-shadow: $default-box-shadow;

    &__body {
        padding: 0 1em;
    }

    &__heading {
        color: $heading-color;
        font-size: rem(22px);
        line-height: 1.2;
        margin-top: 1em;
    }

    &__text {
        line-height: 1.3;
        padding-top: 0.4em;
        padding-bottom: 1.5em;
    }
}

@media (max-width: 320px) {
    .qr-code__heading {
        font-size: rem(18px);
    }
}