@use "../base/utilities" as *;

body {
	padding: toRem(80) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-body);
	font-family: var(--ff-primary);
}