@use "../base/variables" as *;

.qr-code {
	background: var(--card-bg-color);
	font-size: rem(15px);
	padding: 1.2em;
	border-radius: 1.3em;
	text-align: center;
	color: var(--text-color);
	box-shadow: var(--box-shadow);

	&__body {
		padding: 0 1em;
	}

	&__image {
		border-radius: 1em;
	}

	&__heading {
		color: var(--heading-color);
		font-size: rem(22px);
		line-height: 1.2;
		margin-top: 1em;
	}

	&__text {
		line-height: 1.3;
		padding-top: 1em;
		padding-bottom: 1.5em;
	}
}

body {
	color: red;
	background-color: blue;
	display: flex;
}