@use "../base/functions" as *;

.card {
	width: min(90%, rem(320));
	margin: 0 auto;
	background: var(--bg-card);
	font-size: rem(15);
	padding: rem(16);
	border-radius: rem(20);
	text-align: center;
	color: var(--text-primary);
	box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);

	&__body {
		padding: 0 rem(16);
	}

	&__image {
		border-radius: rem(10);
		width: rem(288);
		height: rem(288);
	}

	&__heading {
		color: var(--text-accent-dark);
		font-size: rem(18);
		line-height: 1.2;
		margin-top: rem(24);
	}

	&__text {
		line-height: 1.3;
		padding-top: rem(16);
		padding-bottom: rem(22);
	}
}