@use "../base/utilities" as *;

.card {
	width: min(90%, toRem(320));
	margin: 0 auto;
	background: var(--bg-card);
	font-size: toRem(15);
	padding: toRem(16);
	border-radius: toRem(20);
	text-align: center;
	color: var(--text-primary);
	box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);

	&__body {
		padding: 0 toRem(16);
	}

	&__image {
		border-radius: toRem(10);
		width: toRem(288);
		height: toRem(288);
	}

	&__heading {
		color: var(--text-accent-dark);
		font-size: toRem(18);
		line-height: 1.2;
		margin-top: toRem(24);
	}

	&__text {
		line-height: 1.3;
		padding-top: toRem(16);
		padding-bottom: toRem(22);
	}
}