:root {
    // Colors
    --text-color: hsl(220, 15%, 55%);
    --heading-color: hsl(218, 44%, 22%);
    --main-bg-color: hsl(212, 45%, 89%);
    --card-bg-color: hsl(0, 0%, 100%);

    // Fonts
    --ff-primary: 'Outfit', sans-serif;

    // Box Shadow
    --box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.1);
}

// Functions
@function rem($value) {
    $remValue: calc(($value / 16px) *1rem);
    @return $remValue;
}