:root {
	// Font Colors
	--text-primary: hsl(220, 15%, 55%);
	--text-accent-dark: hsl(218, 44%, 22%);

	// Background Colors
	--bg-body: hsl(212, 45%, 89%);
	--bg-card: hsl(0, 0%, 100%);

	// Font Families
	--ff-primary: 'Outfit', sans-serif;
}